#menu-main {

  &.navbar {
    background-color: $color_romance_approx;
  }

  .nav li a {
    &.active {
      color: black;
      background-color: $color_anzac_approx_dark;
      background: linear-gradient($color_anzac_approx_dark 3%, $white 3%);
    }
  }

  .navbar-brand {
    font-size: 27px;
    line-height: 27px;
    padding: 11px 15px;

    img {
      float: left;
    }

    span {
      color: $color_anzac_approx_dark;
    }
  }

  .navbar-nav > li > a {
    text-transform: uppercase;
  }
}

.navbar-toggle {
  border-radius: 0px;
}

.overlayMenu {
  color: $white;
  margin-bottom: 0;
  position: relative;

  &.navbar-nav > .open > a {
    background: none;
  }

    .navbar-toggle {
    padding: 0;

    a {
      display: block;
      padding: 7px 10px 5px 10px;
    }
  }

  .dropdown-menu {
    border-radius: 0;
    padding: 0;

    li{

      a {
        padding: 10px 18px;
        font-weight: 300;
        font-family: $font_0;
        text-transform: uppercase;
      }

      a:hover {
        background-color: $color_wild_sand_approx;
        background-image: none;
      }

      &.active {
        a {
          background-color: $color_anzac_approx_dark;
          background-image: none;
          color: white;

          &:hover {
            background-color: $color_anzac_approx_dark;
            background-image: none;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

.nav-pills {
  margin-bottom: 30px;
}

.nav.nav-pills.side-menu {
  a {
    background-color: whitesmoke;
  }

  a:hover {
    background-color: $color_anzac_approx_dark;
  }
}